:root{
	--color-h1: #344A86;
	--color-h2: #C2964B;
	--color-h3: #C25A75;
	--color-h4: #2e6f95;
	--color-h5: #0091ad;
	--color-code-bg: #f8f8f8;
	--color-links: #407794;
}
body {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 60em; 
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	line-height: 140%;
	color: #333; 
	padding-bottom: 3em;
}
pre {
	border: 1px solid #DDDDDD;
	border-radius: 1em;
	background-color: var(--color-code-bg);
	color: #1111111;
	padding: 1.5em;
}
code {
	font-family: monospace;
	font-size: 14px;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
	text-decoration: none;
	color: var(--color-h1); 
}
h1, h2, h3, h4, h5 { font-family: verdana;
	font-weight: bold;
	border-bottom: 1px dotted grey;
}
h1 {
	font-size: 130%;
	color: var(--color-h1);
}

h2 {
	color: var(--color-h2);
	font-size: 110%;
}

h3 {
	padding-left: 1em;
	font-size: 95%;
	color: var(--color-h3);
}

h4 {
	padding-left: 2em;
	font-size: 90%;
	font-style: italic;
	color: var(--color-h4);
}

h5 {
	padding-left: 3em;
	font-size: 90%;
	font-style: italic;
	color: var(--color-h5);
}

h1.title {
	font-size: 200%;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: center;
	border: none;
}

dt code {
	font-weight: bold;
}
dd p {
	margin-top: 0;
}

#footer {
	padding-top: 1em;
	font-size: 70%;
	color: gray;
	text-align: center;
}

/* Links */
a {
	color: var(--color-links);
	display: inline-block;
	text-decoration: none;
}

a:hover {
	filter: brightness(var(--hover-brightness));
	text-decoration: underline;
}

