:root {
	font-size: 16px;
	font-family: 'Open Sans';
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.2rem;
}

.header a {
	font-size: 2rem;
	color: black;
	float: left;
	text-align: justify;
	text-decoration: none;
}
.header a:hover {
	color: grey;
}

.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar a {
	font-size: 1rem;
	display: flex;
	color: black;
	float: right;
	padding: 1rem 1.2rem;
	text-decoration: none;
}

.navbar a:hover {
	color: grey;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	transition: transform 200ms;
	max-width: 70	0px;
	min-width: 400px;
}

.card:hover {
	transform: scale(1.02);
}

.card p {
	font-size: 1rem;
}

.card img {
	display: flex;
	height: 6rem;
}

.card-footer {
	color: blue;
}

.card-footer a {
	display: flex;
	justify-content: flex-end;
}


