.sidebar{
	flex-direction: column;
	background-color: white;
	align-items: center;
	display: flex;
	align-items: flex-start;
	padding-left: 0.5rem;
	height: 100vh;
	width: 8rem;
	position: fixed;
}

.sidebar a{
	text-decoration: none;
	display: block;
	color: black;
}

ul {		
	list-style: none;
	padding-left: 1rem;
}

#p-list {
	color: #337185;
	display: none;
	list-style-type: none;
}
.programming:focus ~ #p-list {
	display: block;
}

#e-list {
	color: #337185;
	display: none;
	list-style-type: none;
}
.electronics:focus ~ #e-list {
	display: block;
}

#m-list {
	color: #337185;
	display: none;
	list-style-type: none;
}
.modeling:focus ~ #m-list {
	display: block;
}

.knowledge-container {
	margin-left: 8rem;
	display: flex;
	flex-direction: row;
}
