.page {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin: 1rem;
	padding-bottom: 10rem;
	background: #F3F3F3;
	box-shadow: 5px 0px 5px rgba(0,0,0,.08); 
	min-width: 280px;
}

.sport_card{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.sport_card h3{
	text-align: left;
	padding-top: 1rem;
	margin: 1rem;
	font-weight: lighter;
}
.sport_card h2{
	font-weight: lighter;
}

.sport_row{
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sport_activity{
	align-items: center;
	padding: 1rem;
	padding-bottom: 0;
}
.sport_activity h5{
	font-weight: lighter;
}

.sidebar_divider{
	border-top: 2px solid #0B2C50;
	width: 90%;
}

.knowledge{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1rem;
	margin-top: 0;
}
.knowledge h3{
	font-weight: lighter;
}
.knowledge h2{
	text-align: center;
	font-weight: lighter;
}

.post{
	padding-top: 0.5rem;
}
.post a{
	margin: 1rem;
	color: #0645ad;
	text-decoration: none;
	transition: all 1s ease;
}
.post a:hover{
	text-decoration: underline;
}

.links{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1rem;
	margin-top: 0;
}
.links h3{
	font-weight: lighter;
}
.links h2{
	text-align: center;
	font-weight: lighter;
}
.links a{
	text-decoration: none;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	color: #0645ad;
	transition: all 1s ease;
}
.links a:hover{
	text-decoration: underline;
}





