.wrapper {
	display: inline-block;
	background: #F3F3F3;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	height: 100%;
}

.sport_card{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.sport_card h3{
	text-align: left;
	padding-top: 1rem;
	margin: 1rem;
	font-weight: lighter;
}

.sport_row{
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sport_activity{
	align-items: center;
	padding: 1rem;
	padding-bottom: 0;
}
.sport_activity h5{
	font-weight: lighter;
}

.sidebar_divider{
	border-top: 2px solid #0B2C50;
	width: 90%;
}

.knowledge{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 1rem;
	margin-top: 0;
}
.knowledge h3{
	font-weight: lighter;
}

.post{
	padding-top: 0.5rem;
}

.post a{
	margin: 1rem;
	color: #0645ad;
	text-decoration: none;
	transition: all 1s ease;
}
.post a:hover{
	text-decoration: underline;
}
